* {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.2;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--light-0);
    color: var(--main-dark);
}

*::before,
*::after {
    box-sizing: inherit;
}

h2 {
    margin: 0 0 32px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 1.35;
    text-align: center;
}


h3, p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.item {
    max-width: 1140px;
    margin: 48px auto;
    display: block;
}


@media (min-width: 1100px) {
    * {
        font-size: 18px;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 48px;
    }

    h2::after {
        width: 19px;
        height: 40px;
    }
}