.cards {
    padding: 48px 19px 95px;
}

.cards__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cards__item {
    border-radius: 16px;
    padding: 16px;
    background-color: var(--light-2);
    margin-bottom: 16px;
}

.cards__item a {
    color: var(--main-dark);
    text-decoration: none;
}

.cards__item img {
    display: block;
    height: 160px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 16px;
}

.cards__item-info {

}

.cards__item h5 {
    display: block;
    margin: 0 0 12px;
    font-size: 21px;
    line-height: 1.35;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.cards__item p {
    font-size: 18px;
    line-height: 1.35;
}

@media (min-width: 1158px) {
    .cards {
        padding: 64px 19px 96px;
    }

    .cards__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
    }

    .cards__list {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    .cards__item {
        margin: 0;
        width: calc(50% - 16px);
    }

    .cards__item a {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .cards__item img {
        margin: 0;
        width: 160px;
        height: 230px;
        flex-shrink: 0;
    }
}