.swiper {
    width: 100%;
}

.swiper-controls-container {
    max-width: 352px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 16px auto 0;
}

.swiper-wrapper {
    z-index: 2;
}

.swiper-pagination {
    position: static;
}

.swiper-button-next,
.swiper-button-prev {
    position: static;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 50%;
    background-color: var(--b-s);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12' fill='none'%3E%3Cpath d='M1 11L6 6L1 0.999999' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    width: 5px;
    height: 10px;
    background-size: cover;
    display: block;
}

.swiper-button-prev::after {
    transform: rotate(180deg);
}

.swiper-pagination-bullet {
    margin: 0 12px;
    height: 12px;
    width: 12px;
    opacity: 1;
    background-color: var(--light-0);
}

.swiper-pagination-bullet-active {
    background-color: var(--b-s);
}



@media (min-width: 1158px) {
    .swiper-controls-container {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(50%);
        z-index: 1;
        width: 100%;
        max-width: unset;
        justify-content: space-between;
    }
}