.tips__container {
    padding: 0 19px 32px;
}

.tips__tip {
    width: 100%;
    min-height: 148px;
    color: var(--light-0);
    text-decoration: none;
    padding: 16px;
    margin-bottom: 16px;
    background: linear-gradient(180deg, rgba(226, 125, 37, 0) 0%, #E27D25 100%), url(../assets/img/tip.jpg) no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 16px;
}

.tips__tip:hover {
    background: linear-gradient(180deg, rgba(226, 125, 37, 0) 0%, #AC4917 100%),  url(../assets/img/tip.jpg) no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.tips__tip--recipes {
}

.tips__tip--articles {
}

.tips__tip--support {

}

.tips__tip h3 {
    margin: 0;
    font-size: 24px;
    line-height: 1.35;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
}

@media (min-width: 1158px) {
    .tips {
        padding: 0 19px;
    }

    .tips__container {
        padding: 0 0 64px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
    }

    .tips__title {
        margin-bottom: 48px;
    }

    .tips__content {
        display: flex;
        gap: 32px;
    }


    .tips__tip {
        height: 420px;
        width: calc(33.333% - 21px);
        flex-grow: 1;
        margin-bottom: 0;
        padding-bottom: 32px;
    }

}