:root {
    --light-0: rgba(255, 255, 255, 1);
    --light-1: rgba(252, 252, 252, 1);
    --light-2: rgba(246, 246, 246, 1);
    --light-3: rgba(230, 230, 230, 1);
    --b-s: rgba(226, 125, 37, 1);
    --b-h: rgba(210, 99, 27, 1);
    --b-c: rgba(172, 73, 23, 1);
    --b-d: rgba(250, 238, 212, 1);
    --b-slider-d: rgba(232, 157, 70, 1);
    --main-dark: rgba(61, 28, 15, 1);
    --a-s: rgba(61, 187, 168, 1);
    --a-h: rgba(106, 227, 208, 1);
    --a-c: rgba(39, 162, 144, 1);
    --a-dark: rgba(10, 58, 68, 1);

    /*--dark-1: rgba(18, 18, 18, 1);*/
    /*--dark-2: rgba(40, 40, 40, 1);*/
    /*--dark-3: rgba(65, 65, 65, 1);*/
    /*--dark-6: rgba(138, 138, 138, 1);*/
    /*--dark-8: rgba(217, 217, 217, 1);*/
    /*--white: rgba(255, 255, 255, 1);*/
    /*--b-l-c: rgba(169, 37, 43, 1);*/
    /*--b-l-h: rgba(191, 94, 83, 1);*/
    /*--b-l-s: rgba(180, 69, 63, 1);*/
    /*--b-d-c: rgba(201, 117, 104, 1);*/
    /*--b-d-h: rgba(222, 164, 151, 1);*/
    /*--b-d-s: rgba(212, 141, 128, 1);*/
}